[2015-11-18 08:07] bbondy opened #4 "Add open graph title and description for sharing"
Please also add open graph meta tags with a title and description so FB doesn't have to infer from parsing the page what to use.

more info here:
http://ogp.me/#metadata

[2016-01-21 21:32] bbondy opened #5 "Social icons on profiles can't be accessed on mobile devices"
There's no hover event so profiles can't be accessed.
Quick fix might be to just add a link handler on the image itself to the first profile.

[2016-01-22 14:24] bbondy opened #6 "List Linux as an option on the signup dev form"
From support.

while filling out the application form, there was no option for a
GNU/Linux based OS or even an "other" category. Would you please correct
this?

[2016-01-22 18:34] bbondy opened #7 "Add a report an issue on this site link to the footer somewhere"
It should link to:
https://github.com/brave/brave-website/issues/new

[2016-01-22 18:36] bbondy opened #8 "Reuse shared code"

[2016-01-22 19:15] bradleyrichter commented on #7
this is for any brave issue or web site issues?

[2016-01-22 19:30] bbondy commented on #7
Please emphasize a problem with the site only
Or if you want it can link to a page that describes the different repo issues links.

[2016-01-23 00:45] diracdeltas commented on #8
Fixed in https://github.com/brave/brave-website/commit/ffe32cbb25b847ba58f9218a9c6ae859e0f56680 (forgot to tag auditor).

[2016-01-23 01:18] diracdeltas commented on #8
merged to master

[2016-01-23 01:18] #8 closed

[2016-01-23 01:26] diracdeltas opened #9 "dev_timeline.html layout messed up on mobile"
![screen shot 2016-01-22 at 17 25 05](https://cloud.githubusercontent.com/assets/549654/12527259/20cf0a12-c12d-11e5-8d65-698a616fc550.png)

dev/beta/stable should be aligned with their respective release numbers

I think this needs to be a proper table, not a series of lists

[2016-01-23 01:27] diracdeltas opened #10 "index.html needs link to dev_timeline.html"
i think this blocks on @bbondy signing off on dev_timeline.html

should this go in the navbar? the navbar is getting pretty crowded

[2016-01-23 01:43] bradleyrichter commented on #10
need to put a link to it at the bottom of the dev section.

[2016-01-23 01:44] bradleyrichter commented on #9
@diracdeltas html table?

[2016-01-23 01:52] diracdeltas commented on #9
@bradleyrichter yep, html table

[2016-01-23 03:15] bbondy opened #11 "UX On FAQ page is confusing"
You load page and all questions are expanded (good, please keep this).

But there's a link to re-open closed questions, even know all is already open.

Click on an FAQ question and it collapses just that one question, click on the next one and it collapses just that one question. There seems to be no benefit to this.

Click twice on any individual question and it collapses all.

I'm open to variou

[2016-01-23 03:36] bbondy commented on #10
signed off.

[2016-01-23 20:08] diracdeltas opened #12 "needs csrf protection on signup form"
maybe something like https://github.com/hapijs/crumb

[2016-01-23 20:08] diracdeltas opened #13 "set x-frame-options"
we don't need to be iframed, so we should set https://developer.mozilla.org/en-US/docs/Web/HTTP/X-Frame-Options to DENY

[2016-01-23 20:38] diracdeltas commented on #6
agree, we are getting a lot of interested linux people

[2016-01-23 20:41] diracdeltas commented on #10
this depends on #9 but might be worth doing for now anyway?

[2016-01-23 20:48] diracdeltas commented on #7
fixed in https://github.com/brave/brave-website/commit/86028c1a423af490e1ab40d478033315aabb0643. i had it go to the issues list instead of automatically opening a new issue hoping this would reduce duplicated issues.

[2016-01-23 21:30] retzion opened #14 "Dev Build Request Form hangs up in Safari or when you enter from a twitter or facebook link."
Doesn't work in Safari

Twitter uses a url shortener and redirect
Facebook links straight to us
The ajaxReq function here https://github.com/brave/brave-website/blob/staging/public/assets/js/forms/mailchimp.js is returning "Bad Request".

Are we using ajax anywhere else on the site with a better method? (I'm still troubleshooting but if we use soemthing else, I'd like to switch)

[2016-01-23 21:37] retzion commented on #14
Ok I found the query ajax method used elsewhere.. switching and debugging this issue.

[2016-01-24 02:59] wblondel opened #15 "NPM warns of deprecated dependencies"
HI!

`npm WARN deprecated gulp-minify-css@1.2.3: Please use gulp-cssnano instead.
npm WARN deprecated gulp-uglifyjs@0.6.2: Since gulp-sourcemaps now works, use gulp-uglify instead
npm WARN deprecated lodash@1.0.2: lodash@<2.0.0 is no longer maintained. Upgrade to lodash@^3.0.0`

[2016-01-24 05:06] #14 closed

[2016-01-24 06:31] bradleyrichter commented on #11
I tried to fix this problem before posting it initially. UX was best when you couldn't search. (but unacceptable tradeoff) Removing all controls and leaving it all open may be the only way without spending more time. @retzion LMK if you have any ideas for a fix.

[2016-01-24 16:50] retzion commented on #12
I'm having some trouble registering multiple plugins for hapijs.
There is a mod named Glue that should help.
https://github.com/hapijs/hapi/issues/2669
https://www.npmjs.com/package/glue
I'm getting that set up.
@diracdeltas am on I the right track? Maybe I don't need glue to register crumb for only the api route? I hope to have it working before you get this message. ;)

[2016-01-24 18:23] retzion commented on #12
request.state[settings.key] is returning null in crumb/lib/index.js line 156
https://github.com/hapijs/crumb/issues/50

[2016-01-24 19:31] retzion commented on #11
I just took a look.
Clicking twice is actually closing a section then opening it. Opening a section triggers all others to collapse. I can attach that close-all method to the collapse method so when you close one section, they all close.
We can hide the "re-op all closed" link until the collapse function is called. It will appear only when the divs collapse. This is theory until I jump into the sc

[2016-01-24 20:30] bbondy commented on #11
I like what Brad suggested best.

[2016-01-24 21:41] jamesgrayillustration opened #16 "Alternative iconography"
Hi, I was inspired by your new browser and so I mocked up some icons/branding.

Some examples:

![braveconcepts_pres2-01](https://cloud.githubusercontent.com/assets/4734952/12539101/19a16734-c2b9-11e5-888f-e559a566d17e.png)

![braveconcepts_pres2-05](https://cloud.githubusercontent.com/assets/4734952/12539105/1ecc7b4a-c2b9-11e5-942e-2b2f71885ffa.png)

[Here's the Dropbox Folder with more mockups](

[2016-01-24 22:34] bradleyrichter commented on #16
Hi James - thanks for the submission. Very unique approach to the lion profile. One of the first I have seen that doesn't at all resemble a sports team which is what we found when exploring profiles. I think we will stay what we currently have for a while but thanks again for the submission....Brad

[2016-01-24 22:34] #16 closed

[2016-01-25 01:48] bbondy commented on #16
Cool to see the alternate approach and identity @jamesgrayillustration

[2016-01-25 02:44] bradleyrichter commented on #16
Absolutely.

[2016-01-25 18:21] #7 closed

[2016-01-26 04:36] bbondy opened #17 "Fix big favicon"
<img width="591" alt="screenshot 2016-01-25 23 35 56" src="https://cloud.githubusercontent.com/assets/831718/12572600/7dc39454-c3bc-11e5-8f50-c75fc2bcbd8f.png">

[2016-01-26 04:57] bbondy opened #18 "chartbeat tracking pixel?"
https://twitter.com/xirzon/status/691153009691086849

[2016-01-26 07:21] serv commented on #4
@bbondy Can you provide the title and description you'd like for the og meta tags?
Also it looks like the page is missing description meta.

`<meta name="description" content="">`

Is it ok to go with the same description here?

[2016-01-26 07:27] serv opened #19 "Footer logo at the left hand side is missing"
<img width="1023" alt="screen shot 2016-01-25 at 11 26 36 pm" src="https://cloud.githubusercontent.com/assets/103456/12574702/1d281ddc-c3bb-11e5-81b1-7687ff77edeb.png">

Footer logo on the left hand side is missing.
It looks like `assets/img/brave_logo_icon_grey.png` is missing. See https://github.com/brave/brave-website/blob/master/public/index.html#L672

[2016-01-26 07:33] serv opened #20 "Need an agreement on indentation for js, html and css files"
It looks like indentations are not consistently followed on js, html and css files.
Can we adopt a rule for indentation then fix indentation for all files?
Does anyone know a good tool that can help us auto-indent files based on some rules?

[2016-01-26 07:41] serv commented on #5
I agree with @retzion's approach. Since we are using bootstrap, we can do something like this.
http://getbootstrap.com/css/#responsive-utilities

[2016-01-26 07:49] serv opened #21 "Missing license"
Is a license needed for this repository like browser-laptop repository?
If so, is the [Mozilla Public License Version 2.0](https://github.com/brave/browser-laptop/blob/master/LICENSE.txt) sufficient?

[2016-01-26 07:51] #12 closed

[2016-01-26 08:27] retzion commented on #11
Something like this? http://evarb.brave.com/FAQ.html

[2016-01-26 12:22] bbondy commented on #4
@bradleyrichter or @ElissaBeth can get you that, thanks for helping out!

[2016-01-26 12:27] bbondy commented on #21
Sure let's do LICENSE.txt from the brave/browser-laptop, pull request would be welcome. Thanks!

[2016-01-26 12:38] bbondy commented on #11
Much better, thanks!

[2016-01-26 15:52] bradleyrichter commented on #11
perfect. done. thanks!

[2016-01-26 15:52] #11 closed

[2016-01-26 15:53] bradleyrichter commented on #19
thanks for the heads up @serv

@retzion - I saw it on staging. Can you check it?

[2016-01-26 16:43] retzion commented on #5
Shall I implement this approach, @bbondy? If so, please assign me the task.

[2016-01-26 16:44] retzion commented on #6
@ElissaBeth tells me we aren't going to add Linux as an option just yet.

[2016-01-26 16:49] retzion commented on #20
I'd love to know of a tool to do some auto-indenting. I do my best with sublimetext and sometimes use xcode for auto-formatting. I think if the majority of us use sublimetext then we should follow their defaults. Although I don't know if sublimetext jives with popular styles like https://google.github.io/styleguide/htmlcssguide.xml

[2016-01-26 16:51] retzion commented on #19
Maybe someone fixed this.
http://evarb.brave.com/assets/img/brave_logo_icon_grey.png
Is that the right image? Small and greyscale?

[2016-01-26 16:52] retzion commented on #19
Oh, sorry, you said you saw it on staging. We need to merge to master in the next few hours anyway.

[2016-01-26 16:54] retzion commented on #18
@ElissaBeth has me implementing piwik today. Maybe we want to discuss removing chartbeat?

[2016-01-26 16:59] retzion commented on #13
Looks like this will do it in hapi { security: { xframe: false } }

[2016-01-26 17:04] retzion commented on #13
A little more on that..

            var server = new Hapi.Server({ security: { xframe: false } });
            server.route({ method: 'GET', path: '/', handler: handler });

            server.inject({ url: '/' }, function (res) {

                expect(res.result).to.exist;
                expect(res.result).to.equal('Test');
                expect(res.headers['x-frame-options']).to.not.exist;

[2016-01-26 17:10] retzion commented on #13
I think this will do the trick in hapi.

            var server = new Hapi.Server({ security: { xframe: true } });
            server.route({ method: 'GET', path: '/', handler: handler });

            server.inject({ url: '/' }, function (res) {
                expect(res.result).to.exist;
                expect(res.headers['x-frame-options']).to.equal('DENY');
                done();

[2016-01-26 17:20] bbondy commented on #5
sgtm, CCing @bradleyrichter in case that's a problem.

[2016-01-26 17:22] bbondy commented on #6
++ for adding Linux even know we won't produce builds yet.
We're missing out on emails right now for people who would be interested to hear about our milestones.

[2016-01-26 17:26] bradleyrichter commented on #5
@retzion works for me. Tiny but large enough to tap...

[2016-01-26 18:56] diracdeltas commented on #6
agree with ^

[2016-01-26 19:23] diracdeltas commented on #13
yep, thanks. @retzion you should feel free to take any task that isn't assigned to anyone. :)

[2016-01-26 20:53] KevinGrandon commented on #20
You can use something like editorconfig and the relevent IDE plugin to have consistent indentation. The vault already implements this: https://github.com/brave/vault/blob/master/.editorconfig

[2016-01-26 21:26] bbondy commented on #20
:wave:

[2016-01-26 23:41] serv commented on #19
Looks like this is fixed. Closing.

[2016-01-26 23:41] #19 closed

[2016-01-27 20:06] diracdeltas commented on #13
Please set HSTS (HTTP Strict Transport Security headers) to` Strict-Transport-Security: max-age=31536000; includeSubDomains` while you're at it

[2016-01-27 20:56] diracdeltas commented on #13
@bridiver any preference if we set these in Fastly vs in hapi?

[2016-01-27 20:58] bridiver commented on #13
Generally easier to set headers at the origin (hapi), but will that cause problems for testing on localhost or otherwise connecting directly to heroku where there will be a domain mismatch?

[2016-01-27 21:42] diracdeltas commented on #13
it might but i think that is outweighed by the benefit of having the headers be CDN-independent, so let's go with hapi as @retzion originally planned. worst-case devs can edit /etc/hosts as needed.

[2016-01-27 21:44] bridiver commented on #13
We could also set them by node_env. We don't currently have that set in Heroku, but it would be easy to add.

[2016-01-28 03:53] retzion commented on #13
So the first code sample I posted here produced nothing but errors.
I came up with the following changes and they are currently staged.

[code]

I have this running on a fresh Heroku app install at http://brave-website-ru.herokuapp.com
The redirect works fine via hsts. However things are not working for http://evarb.brave.com
Any ideas, here?
I would like to see some server logs from the Heroku ap

[2016-01-28 03:56] retzion commented on #13
@diracdeltas do we want preload:true?
preload - a boolean specifying whether to add the 'preload' flag (used to submit domains inclusion in Chrome's HTTP Strict Transport Security (HSTS) preload list) to the header.

[2016-01-28 04:48] KevinGrandon opened #24 "Web compat issues with header link dividers"
It seems the top bullets are sized differently in Chrome vs Firefox.

<img width="1296" alt="2016-01-27 8 47 26" src="https://cloud.githubusercontent.com/assets/122602/12635360/3b05a2f2-c537-11e5-9891-9ad39d11db26.png">

[2016-01-28 04:49] #6 closed

[2016-01-28 04:51] retzion commented on #13
Hmm, seems to be working now. http://evarb.brave.com should bounce to https

[2016-01-28 06:47] marumari commented on #13
@bridiver: Don't know whether it answers your question or not, but it's generally hard to screw things up with regards to HSTS and localhost.  Browsers will ignore the flag if it is sent over an insecure connection, so setting HSTS on stuff delivered over http on localhost won't do anything at all.

[2016-01-28 07:33] diracdeltas commented on #13
@retzion, yeah please set preload on hsts

[2016-01-28 16:47] retzion commented on #13
I committed with Preload: true
I think we can close this issue now.

[2016-01-28 16:49] retzion opened #25 "NavBar Menu Toggle Icon color not visible on mobile widths after scrolling down"
<img width="322" alt="screenshot 2016-01-28 09 48 52" src="https://cloud.githubusercontent.com/assets/1813451/12651595/61797bb2-c5a4-11e5-974e-a43235dff986.png">

[2016-01-28 16:51] retzion opened #26 "NavBar Menu Links jump to sections but hide part of the section content"
We can add an offset so when we click a link it jumps to the section but does not hide part of the content..

<img width="1087" alt="screenshot 2016-01-28 09 50 08" src="https://cloud.githubusercontent.com/assets/1813451/12651673/ba58b630-c5a4-11e5-939a-a5d0f37276b0.png">

[2016-01-28 16:54] retzion opened #27 "NavBar Menu Links are partially hidden on mobile landscape view"
<img width="587" alt="screenshot 2016-01-28 09 52 53" src="https://cloud.githubusercontent.com/assets/1813451/12651720/ff1c28ce-c5a4-11e5-94ed-a70e073a2e35.png">

We could make the div holding the menu scrollable. I'd like to come up with something more elegant though.

[2016-01-28 16:56] retzion opened #28 "From page load, clicking a nav item does not highlight the right one"
The page jumps to the right section but highlights the wrong menu item

[2016-01-28 17:06] retzion opened #29 "Dev Requests Form: JS alert shows when no crumb is found in cookies"
![pasted image at 2016_01_27 11_51 pm](https://cloud.githubusercontent.com/assets/1813451/12652085/8b65840a-c5a6-11e5-8b0c-d77a5199db05.png)

We show an alert upon the form post if we don't find the cookie named "crumb". The cookie is required for all posts to the server.

Perhaps we can insert a method here to ping our api server for a new crumb. Upon success, we repost the form. We can set a num

[2016-01-28 17:17] diracdeltas commented on #29
that approach sounds good. this cookie is needed for csrf protection. our server should be setting it for every user when they visit the page. not sure why it isn't

[2016-01-28 17:50] retzion commented on #13
I'm still trying to get a self-signed cert working on localhost. Can anyone confirm if things work on local?

[2016-01-28 19:32] retzion commented on #13
Been using this..

    // temporary workaround to allow localhost with HSTS
    var connections = [
          // non-local host
          {
              port: process.env.PORT || 3000,
          },
          // localhost
          {
              host: 'localhost',
              port: 3001,
              tls: {
                key: fs.readFileSync('./server.key'),     // Path to key

[2016-01-28 21:50] retzion commented on #5
staged: https://evarb.brave.com/#team

[2016-01-29 06:12] retzion commented on #5
![simulator screen shot jan 28 2016 10 45 34 pm](https://cloud.githubusercontent.com/assets/1813451/12668493/5ecbe45c-c614-11e5-8df3-3478b758b572.png)

I just noticed that after tapping a social network icon the layer above the team member photo appears. I can hide that via css !important.

[2016-01-29 17:53] retzion commented on #5
I hide the layer above the profile photos for mobile widths.

[2016-01-29 17:54] #5 closed

[2016-01-29 18:34] retzion opened #31 "Footer newsletter subscription form alignment"
I'm not sure if it moved somewhere along the line but it could use some margin-left.

<img width="333" alt="screenshot 2016-01-29 11 32 40" src="https://cloud.githubusercontent.com/assets/1813451/12684449/36f111f6-c67c-11e5-9d1e-2fb81d562add.png">

[2016-01-31 02:08] bbondy commented on #29
I think related but someone on twitter is reporting that our browser doesn't support our own site.
<img width="1025" alt="screenshot 2016-01-30 21 07 35" src="https://cloud.githubusercontent.com/assets/831718/12699755/9a307ff8-c795-11e5-9833-8194a0622972.png">

Why is this labeled wontfix?

[2016-01-31 11:18] AlfonsoML commented on #29
Yep, I posted that screenshot.
It failed in all the browsers and debugging the code I found that indeed it was trying to read a cookie and it was empty although I don't block cookies.
So I disabled uBlock origin and after reloading the page I was able to submit the form so I guess that the cookie is somehow set by a 3rd party script or anything else that it's commonly blocked by ad blockers, and y

[2016-02-01 12:08] bbondy opened #37 "Website shouldn't be offering old version download links"
Please make the download links on the web always point to the latest download URLs.

The correct links are:
https://laptop-updates.brave.com/latest/osx
https://laptop-updates.brave.com/latest/winx64

The links being used currently are on github and are old and have major known problems.

[2016-02-01 15:19] #37 closed

[2016-02-01 15:32] bbondy commented on #37
Thanks for taking and Fixing @bridiver

[2016-02-01 18:13] greggawatt opened #38 "Needs higher version of Hapi"
I need a bit of help, i'm trying to fix an issue with the site and NPM install gives me this warning that i can't seem to solve:

[code]
Any thoughts?

Node: v5.4.1
NPM: 3.3.12

[2016-02-01 18:31] bradleyrichter commented on #38
@diracdeltas Can you please assist Greg?

[2016-02-01 18:41] diracdeltas commented on #38
pretty sure if you do `npm update` it will install hapi >12. should probably change `package.json` to require a higher hapi version. thanks.

[2016-02-01 19:04] greggawatt commented on #38
Changing the version in `package.json` fixed it, thanks!

[2016-02-01 19:04] #38 closed

[2016-02-01 19:27] diracdeltas commented on #38
cool, please commit the changes and open a pull req

[2016-02-01 19:28] diracdeltas commented on #38
nvm, i see it in https://github.com/brave/brave-website/pull/39/files. thanks

[2016-02-01 20:07] terrypearson opened #40 "mailchimp signup forms not working on Ubuntu Chrome/Firefox"
I get random errors with the signup forms on both Chrome(48.0.2564.97) and Firefox (45.0b1), running Ubuntu 15.10.

On Chrome, I get an error like this :Cookie error Please make sure cookies are enabled. You may need to delete your cookies and try again.

This happens no matter what I do so I have no way to sign up.

[2016-02-01 20:20] diracdeltas commented on #29
The first-party cookie (`crumb`) is actually getting set correctly on the staging server but not in prod. Weird that disabling uBlock fixed it, since it shouldn't be third-party. will look into it

[2016-02-01 20:29] muffinscat opened #41 "Brave opens inside of my taskbar [enhancement]"
Hi, so I like to put my taskbar at the top of my monitor, but whenever I open brave, it is inside of the taskbar, with the gap at the bottom. Other programs don't do this so I know it's not on my end so I was wondering if this could be changed.

[2016-02-01 20:56] muffinscat commented on #41
Also just little stuff like I can't use mouse4 and mouse5 to go forward and backward but I know this is all in development

[2016-02-01 21:05] diracdeltas commented on #29
i don't see difference in this repo between staging and master that could cause this problem. also, i don't see any set-cookie headers on a fresh browser profile being sent from the staging server so i assume it's getting set by page javascript. maybe this is related to heroku/fastly? cc @bridiver

[2016-02-01 21:27] bradleyrichter opened #42 "devs/users are using the "report a website issue" link to report brave app issues"
great funnel but breaks organization.

Rename link? Or provide another?

[2016-02-01 23:43] diracdeltas opened #46 "need valid cert on staging"
otherwise the cert warning can't be bypassed on FF because we set hsts

[2016-02-01 23:49] diracdeltas commented on #31
fixed

[2016-02-01 23:49] #31 closed

[2016-02-01 23:50] #10 closed

[2016-02-01 23:50] #9 closed

[2016-02-01 23:50] #26 closed

[2016-02-01 23:51] diracdeltas commented on #40
duplicate of #29

[2016-02-01 23:52] diracdeltas commented on #41
please open at https://github.com/brave/browser-laptop instead, thanks.

[2016-02-01 23:52] #41 closed

[2016-02-02 00:36] diracdeltas commented on #29
fixed on live site now

[2016-02-02 00:36] #29 closed

[2016-02-02 00:37] diracdeltas commented on #40
fixed now

[2016-02-02 00:37] #40 closed

[2016-02-02 00:58] x0x7 opened #48 "Add a bitcoin address for donating"
It would be nice if there was a donate tab or if there was a bitcoin address down in the footer content.

[2016-02-02 05:52] matthew-field opened #49 "Browser crashes on new tabs"
So I was reading my emails in the browser and everything worked fine. I got to one of my HuffPost emails and clicked a link to their articles and the browser crashed. Re-opened, tried again, same result.

[2016-02-02 12:51] bbondy commented on #49
I think you want this repo:
https://github.com/brave/browser-laptop

Also please check that you have 0.7.12 which should already fix that.  Please repost if it's an issue with 0.7.12 there. Thanks.

[2016-02-02 12:52] #49 closed

[2016-02-03 20:13] retzion commented on #29
@ElissaBeth tells me the fix is not working? I can work on it tonight.
I plan to add and use a recursive function on lines 14 and 60 here https://github.com/brave/brave-website/blob/staging/public/assets/js/forms/mailchimp.js
The function will retrieve the cookie from the client or keep trying X times via an ajax post to the server.

[2016-02-03 20:39] diracdeltas commented on #29
@ElissaBeth please give steps to reproduce the not-working part. i signed up successfully just now.

[2016-02-04 00:44] ElissaBeth commented on #29
I have not reproduced the issue. It is intermittent.

On Wed, Feb 3, 2016 at 12:40 PM, yan zhu (@bcrypt) <notifications@github.com

--
Elissa Shevinsky
Twitter.com/ElissaBeth
650-380-6972

[2016-02-04 04:28] retzion opened #50 "robots.txt should be in /public"

[2016-02-04 07:37] vasanth1986 opened #51 "Brave goes back to previous web page while pressing backspace key in Youtube comment on Windows 8"
Steps to reproduce:
1. Open Youtube.com and select any video to playback.
2. Go to comment section and type a new comment then press Backspace key.
3. Observe that Brave goes back to previous web page instead only deleting the typed texts.

Actually typed texts are deleting and Brave goes back to previous web page.

- Vasanth

[2016-02-04 07:41] retzion commented on #29
@ElissaBeth I implemented the fix I mentioned above on [staging](https://evarb.brave.com). Everything seems to work but I'm also not able to replicate the error with the cookie. In my testing I manually deleted the crumb cookie upon form post and the recursive method successfully retrieved a new crumb from the api. I also removed the js alert we were showing upon failure. The form post currently r

[2016-02-07 11:46] axlwaii commented on #46
You could use [heroku's](https://www.heroku.com/) free plan for your staging environment. Heroku has a valid SSL cert for all their apps. So your url could be https://brave-website-staging.herokuapp.com .

[2016-02-12 06:46] ElissaBeth opened #64 "Display Issue on Mobile for brave.com"
Large grey unformatted area with no text.
Fix in one place will fix across the board.

[2016-02-12 06:47] ElissaBeth commented on #64
Pull requests to fix this are welcome. :)

[2016-02-12 06:48] ElissaBeth commented on #64
it’s a margin or padding problem in a container div

[2016-02-12 06:48] ElissaBeth commented on #64
Someone is working on this now.

[2016-02-13 04:00] stuartlangridge opened #78 "Forcibly forwards to non-existent HTTPS version even on localhost dev checkout"
Start the website as per the README on localhost, and the code

    server.ext('onRequest', function (request, reply) {
        if (request.headers['x-forwarded-proto'] != 'https') {
          return reply()
            .redirect('https://' + request.headers.host + request.url.path)
            .code(301);
        }
        reply.continue()
    })

forcibly redirects to an https version of the sit

[2016-02-16 02:09] ElissaBeth commented on #50
Fixed!

[2016-02-16 02:09] #50 closed

[2016-02-16 18:18] Ken-Saunders opened #80 "Clearly State 64-bit Only"
Clearly state on the site that the Brave browser (for Desktop and Laptop) is for 64-bit OS's (only).

My opinions:
It's necessary to do this to save time and frustration for 32-bit OS users (like myself) attempting to install the Brave browser that is for 64-bit OS's. Not doing so could potentially anger potential Brave consumers enough to write off Brave completely and permanently (myself not inc

[2016-02-16 18:24] Ken-Saunders opened #81 "Typo in newsletter confirmation"
Typo is "newletter"
#mailchimpNewsletterConfirmationModal > DIV > DIV > DIV:last-child > DIV > IMG

![typo](https://cloud.githubusercontent.com/assets/1267130/13086264/7851caf4-d4b0-11e5-92b8-bbaf03fbf47a.png)

[2016-02-17 15:13] bbondy commented on #80
Sorry for this oversight, it should definitely say Win x64 on the website. CC @ElissaBeth

[2016-02-17 15:30] Ken-Saunders commented on #80
Thank you, but an apology is certainty not necessary.
It's still very early and y'all are busy.

[2016-02-22 07:56] CNK001 opened #82 "Polish characters"
I can't write some polish characters, eg. "ś" - when I press "alt" + "s" new card is opened :(

[2016-02-22 15:23] bradleyrichter commented on #82
Since my wife is Polish, I thought I would test this one...  :   )

I can't reproduce on Mac OS X. See alternative ß caracter in two places:

@diracdeltas  - Perhaps it's a windows only bug?

![screen shot 2016-02-22 at 7 20 09 am](https://cloud.githubusercontent.com/assets/13509546/13222524/1b73d0aa-d935-11e5-90ee-50e677dfdfdf.png)

[2016-02-22 15:26] bradleyrichter commented on #81
@Ken-Saunders Thanks for pointing out this unfortunate little error. We'll be sure to fix it!

[2016-02-22 15:55] CNK001 commented on #82
I have Windows 10 😉

[2016-02-22 16:23] bradleyrichter commented on #80
@Ken-Saunders Hi Ken - looking at the update to the web site, do you feel this would have given you the info you needed regarding x64?

![image](https://cloud.githubusercontent.com/assets/13509546/13224434/68071e74-d93d-11e5-92ff-5cd9960eeb5b.png)

[2016-02-22 19:55] diracdeltas commented on #82
@CNK001 that's weird, i don't think alt+s is mapped to anything. Do you mean ctrl+alt+s? (mapped to new session tab.)

[2016-02-22 22:41] CNK001 commented on #82
No, only Alt + S.
When i press "Alt" and "s" it opens new tab.

[2016-02-22 23:29] diracdeltas commented on #82
alt+s on OS X renders ß not ś. according to some forum posts, right-alt+s should produce ś. maybe right-alt is being treated like ctrl+alt on windows? cc @bbondy

[2016-02-22 23:53] CNK001 commented on #82
Hmm.. It's right Alt + s on Windows and Mac OS. I use Polish (Programmers) Keyboard Layout AKA "Polish Pro".

![image](https://cloud.githubusercontent.com/assets/16397823/13236652/150196f8-d9c6-11e5-8acf-4cd8d7377312.png)

![image](https://cloud.githubusercontent.com/assets/16397823/13236635/fbd3dfce-d9c5-11e5-86ff-d47068b30b01.png)

![image](https://cloud.githubusercontent.com/assets/16397823/132

[2016-02-23 18:47] diracdeltas commented on #82
BTW, just realized this is supposed to be in the browser repo, not the website repo. I'll link to it there.

[2016-02-23 22:27] Ken-Saunders commented on #80
Yes, and if I were someone else really wanting to try/use Brave, I'd still look for 32-bit and the Android & more button (Sign up to be notified) kind of tells you that it isn't (yet?) available. That's something that I didn't bother with initially since I (wrongly) assumed that Brave was compatible with my system.

In my opinion, it's good enough for now but in the future when there's even more i

[2016-02-23 22:47] bradleyrichter commented on #80
thanks. closing for this version of the web site.

[2016-02-25 00:01] diracdeltas opened #83 "stop mailchimp from rewriting links to *.list-manage.com"
In the mailchimp email that was sent out today, all links to our downloads had been auto-replaced with the mailchimp redirector over HTTP. Ex: http://brave.us11.list-manage.com/track/click?u=bc970601c83256047af4b8359&id=9a8bb67e90&e=634878d80d is the rewritten iOS link

Can we either turn off the redirector or force it to be HTTPS? https://brave.us11.list-manage.com/track/click?u=bc970601c83256047

[2016-02-25 09:50] lloydwatkin opened #84 "Can't find download page or linux download"
...which makes it hard to get a copy (I found via twitter in the end)

[2016-02-27 01:32] pggsx opened #85 "npm-install failed: bug with hashset-cpp"
Install failed with initial npm install. After listing npm bugs and viewing files looks to be known npm bug.
npm-debug output can be found in the pastebin link http://pastebin.com/K895VTE2.
Hope the issue gets resolved
pggsx

[2016-03-01 09:37] Trenbania opened #86 "Continual crashing using Meshfire"
http://service.meshfire.com/ seems to cause Brave (Windows 10 PC) to continually crash. Seemed fine prior to latest update.

[2016-03-02 20:44] lcastroGT opened #87 "Alto consumo de RAM"
Los procesos que se corren al ejecutar el navegador llegan a consumir, en total, 1115244 KB en RAM. Mencionando que solo se tienen abiertas 4 pestañas.
![brave_ram](https://cloud.githubusercontent.com/assets/5115058/13474808/4a1d6518-e085-11e5-85ea-0bdd4867888a.png)

[2016-03-04 05:41] blackweta commented on #15
[code]

[2016-03-09 05:27] bbondy opened #88 "Add win7+ specifier to the windows download link"

[2016-03-21 08:05] viswanathamsantosh commented on #64
Hey @ElissaBeth , is this issue fixed or should i work on it?

[2016-03-22 17:01] bbondy opened #89 "Add ffmpeg to download pages"
Add a message like this to the website:

[2016-03-22 17:02] bbondy commented on #89
@bradleyrichter could you work this in somewhere?  Possibly in the footer.

[2016-03-22 17:03] bradleyrichter commented on #89
I'll find a solution.

[2016-03-22 17:04] bbondy commented on #89
Thank you!

[2016-03-22 18:54] bradleyrichter commented on #64
Hi @viswanathamsantosh - we are getting some site changes in for these new meetup events which should fix this issue. Thanks for the reminder!

Brad

( @ElissaBeth )

[2016-03-23 05:22] marti1125 commented on #87
Hi @lcastroGT creo que debes abrir un issue en el siguiente repo: https://github.com/brave/browser-laptop and in english please =D

[2016-03-28 05:52] marti1125 opened #91 "Help with run website"
when I tried rave server running at: http://MacBook-Pro-de-Willy:3000 or localhost:3000
I don't see nathing =/
I followed the instructions from README

[2016-03-29 21:01] retierney opened #92 "Screen Goes Black"
No one ever does this sort of thing except me. Go to **brave.com**, then pick any image that isn't hyperlinked (like the lion), and then drag and drop it off it's original location. For me, the **brave** window goes all black and has to be restarted.

HP Pavilion dv7 laptop
Windows 7 SP 1 x64

[2016-03-31 04:26] OeBoe opened #93 ""Tabs per page" text box is a pain to type in"
Try typing in the number 12 to the tabs per page option in preferences.

As soon as you type the 1, it defaults to 3 because one tab per page is below the minimum.
As soon as you then type the 2, it defaults to 20 because 32 tabs per page is above the max.

You can get there by spamming the arrows, but that's not user friendly.

[2016-04-03 00:56] lucasmazza opened #94 "Subtitles are unreadable on Safari"
![](https://dl.dropboxusercontent.com/s/8sothrjm6v8zjld/2016-04-02%20at%209.51%20PM.png)

Fiddling with the inspector looks like the `font-weight: 200` used on several subtitles don't play well with Safari, and even on other browsers (Chrome or Firefox) it might make it harder for folks with more serious sight issues.

[2016-04-03 02:37] bradleyrichter commented on #89
@bennyschmidt Let's add this for a while - to the upcoming downloads panel on the home page.

Brian will eventually change the builds and this will become unnecessary.

[2016-04-03 17:35] raul-uriarte opened #96 "Incorrect OS X version needed"
Just above the download button for OS X you say OS X 10.7 or above is required to run Brave.... but it is not true, you need 10.9 or above... check your .dmg file
Good Luck

[2016-04-03 18:45] anistuhin opened #97 "Homepage Hero Image"
Home page hero image can be made more nicer by giving it a 100vh height and keeping all the info inside the screen. Is it okay to make the change and then send pull request??

[2016-04-03 19:02] bbondy commented on #89
I think we will still use ffmpeg no matter what.

[2016-04-03 20:06] bennyschmidt commented on #97
@anistuhin that would be great :) go ahead and submit your PR and please mention me in the description. is your idea for larger screens to have a `max-height`, or would it always fill the viewport-height regardless of how tall? thanks.

[2016-04-03 20:15] anistuhin commented on #97
Primarily it will fit the viewport-height, but it will definitely have a max-height :) Btw, it's open to make PR for any visual improvement right??

[2016-04-03 21:51] bennyschmidt commented on #97
@anistuhin for optimizations like this, definitely! if it's a bigger design change, please make it a separate issue and mention @bradleyrichter with the details, and attach a mockup or screenshot of the suggested change so it can be reviewed, thanks.

[2016-04-04 13:48] garvankeeley opened #98 ""For iOS 7 and later" should be iOS 8 and later"
Wrong version specified in the copy when viewed on iOS

[2016-04-05 02:39] #98 closed

[2016-04-05 02:40] bradleyrichter commented on #98
@bennyschmidt Please move to Master through Git or replicate if staging doesn't make the trip.

[2016-04-05 21:38] bennyschmidt commented on #96
it's fixed now, thank you.

[2016-04-05 21:38] #96 closed

[2016-04-05 23:09] bennyschmidt commented on #97
@anistuhin implemented your `height: 100vh` solution. thank you for the suggestion!

[2016-04-05 23:09] #97 closed

[2016-04-05 23:38] bennyschmidt commented on #94
@lucasmazza fixed this (changed to `font-weight: 400` for now and updated the size in a couple other spots). thank you for pointing it out :)

[2016-04-05 23:38] #94 closed

[2016-04-06 12:01] brilvio commented on #80
@bradleyrichter Hi there I think this issue have to be reopen, because in the site this moment it doesn't say anywhere that the setup is for Windows 64 only, I downloaded and tried to install and I was having problems so I had to search in the issues for this problem. Not everybody is a developer and not everybody will search for the problem. Keep that in mind.
![brave](https://cloud.githubusercon

[2016-04-06 12:58] bbondy commented on #80
thanks @brilvio

[2016-04-06 17:31] bradleyrichter commented on #80
doh! New site makover killed last fix. Will fix again asap. @brilvio Thanks for the headsup.

[2016-04-06 17:51] brilvio commented on #80
No problem at all.

[2016-04-08 23:48] diracdeltas opened #101 "Download pages need to be more upfront about ad replacement"
Reported by a friend:
'When I installed it, it didn't tell me it was going to replace ads. It didn't issue a popup or any indication of what was going to happen to content I was browsing. . . The download page clearly states "The new Brave browser automatically blocks ads and trackers, making it faster and safer than your current browser." The keyword here is "BLOCKS.'

We need to make the downloa

[2016-04-08 23:56] diracdeltas commented on #101
related to https://github.com/brave/browser-laptop/issues/1291

[2016-04-11 18:43] AkshayTiwari commented on #81
I've fixed the typo and pulled a request.
https://github.com/brave/brave-website/pull/102

Merge pending.

[2016-04-12 20:49] garvankeeley opened #103 "iOS app requires www.brave.com/terms_of_use and it was removed"
If the url is being moved i can change it for new releases, but existing releases point to
 https://www.brave.com/terms_of_use

[2016-04-13 14:24] bbondy commented on #103
@bradleyrichter can we get a redirect setup here?  Also, any time we change ANY URLs, we should preserve the old route in case people link to it. Thanks!

[2016-04-13 14:28] garvankeeley commented on #103
In future, a better system is to have the apps make a REST-type call to ask for the endpoints for TOS and privacy.

[2016-04-13 14:33] bbondy commented on #103
Any site can link to us, they won't use a similar REST call, so in any case we need to preserve old URLs if there's any chance someone is linking to it.

[2016-04-14 12:22] bbondy opened #104 "Linux installer redirects to the wrong place"
When the website detects a linux UA we currently send them a .tar.bz file with binaries.

It would be better for that to just link to the Linux install instructions, since it is different per platform and downloading a specific package is better than the .tar.bz file.
https://github.com/brave/browser-laptop/blob/master/docs/linuxInstall.md

[2016-04-14 16:34] garvankeeley commented on #103
closing, it has returned from the dead!

[2016-04-14 16:34] #103 closed

[2016-04-15 07:28] jonathansampson opened #105 "Footer contains vestigial classname"
![brave-site](https://cloud.githubusercontent.com/assets/815158/14554289/e2c18e38-02a0-11e6-829a-6c5414d4fb58.gif)

[2016-04-15 17:29] bradleyrichter commented on #105
I was wondering where that DOT came from!

Thanks Jonathan!

Brad

[2016-04-15 17:47] jonathansampson commented on #105
@bradleyrichter I would have issued a pull request, but the build instructions don't result in much success for us Windows users :)

[2016-04-16 02:41] jonathansampson commented on #105
@bradleyrichter I'm still unable to get the Brave Server up and running on Windows 10, but the fix was trivial enough that I see no harm in building and issuing a pull request.

[2016-04-16 02:52] jonathansampson commented on #92
Wrong repo. Try [one of these instead](https://github.com/brave/browser-laptop/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+black).

[2016-04-16 04:36] cigitia opened #107 "Blog RSS feed"
The Brave browser is a fascinating initiative. I use RSS feeds to keep up with websites, however; it would be great if the Brave blog provided an RSS feed. I don't want to miss any new posts.

Of course, there are probably higher-priority things to take care of. This would just be a nicety.

[2016-04-18 03:08] jonathansampson commented on #91
Same here; tried both the server and server-localhost scripts. Success with neither on Windows 10.

[2016-04-18 03:11] jonathansampson commented on #107
I looked into taking a crack at this, but I'm presently blocked by #91. Brave Website presently is statically generated, so the RSS file would need to be built pre-commit, along with all of the other static files. Shouldn't be too terribly difficult once standing up a local server is better documented.

[2016-04-18 03:23] jonathansampson commented on #93
@OeBoe This is the wrong repo for Brave app feedback. See instead https://github.com/brave/browser-laptop/issues.

[2016-04-18 03:43] jonathansampson commented on #88
@bbondy Was this issue resolved by https://github.com/brave/brave-website/commit/940dcbdc11ee542920be18e668a38439b6d00dba?

![image](https://cloud.githubusercontent.com/assets/815158/14593188/1ca564de-04dc-11e6-9aa5-29461ec8b5ea.png)

Or does the issue refer to the links towards the bottom of brave.com?

![image](https://cloud.githubusercontent.com/assets/815158/14593240/f0d3f586-04dc-11e6-901b-f4

[2016-04-18 15:13] bradleyrichter commented on #107
Rss should be coming soon via ghostblog as we switch over this week.

[2016-04-18 17:35] jonathansampson commented on #107
@bradleyrichter That's wonderful news; does that also mean that all issues pertaining to the current templates are now obsolete, and good to close?

[2016-04-19 00:05] jonathansampson commented on #105
Closing, as #106 has been implemented manually.

[2016-04-19 00:05] #105 closed

[2016-04-19 00:07] bradleyrichter commented on #105
@jonathansampson thanks for closing. The fix was much easier than processing the pull request.  :    )

[2016-04-19 00:55] jonathansampson commented on #86
@Trenbania This repo is for the *brave.com website*; not the browser itself. Your feedback should be directed to [brave/browser-laptop/issues](https://github.com/brave/browser-laptop/issues) instead.

[2016-04-22 16:02] #17 closed

[2016-04-29 03:02] jonathansampson commented on #107
@bradleyrichter Any update on the ghostblog deployment?

[2016-05-09 18:11] bridiver opened #109 "forbidden response when signing up an existing email"
When signing up using an email that is already in the list, I get a very unfriendly "forbidden" response

[2016-05-09 20:58] bridiver opened #110 "convert persistent cookies to session cookies"
piwik currently sets persistent cookies for website analytics, but for privacy reasons it would be better to use session cookies. This should only affect new/returning users per @diracdeltas and that metric is likely off anyway due to normal cookie attrition

[2016-05-10 12:52] Dhanesh95 opened #111 "Download for Fedora fetches the wrong installation file"
The Download for Fedora/openSUSE button on https://brave.com/downloads.html fetches the .deb file instead of the .rpm file. A quick and easy fix I suppose.

[2016-05-10 14:47] bradleyrichter commented on #109
@bennyschmidt will take a look at any front end changes that can fix this...

[2016-05-10 14:49] bradleyrichter commented on #107
@jonathansampson
https://blog.brave.com/

and the RSS:
https://blog.brave.com/rss/

[2016-05-10 14:49] #107 closed

[2016-05-12 15:32] jonathansampson commented on #111
This appears to have been resolved in https://github.com/brave/brave-website/commit/f9221eac42843f343da5fe52bd87fc77faa21146.

[2016-05-12 17:40] #82 closed

[2016-05-14 09:31] serv opened #113 "Need left padding for newsletter form in the footer"
What do you think about adding 10px-ish left padding for the newsletter form?

### without padding
![screen shot 2016-05-14 at 2 30 46 am](https://cloud.githubusercontent.com/assets/103456/15267640/e568fb0c-197b-11e6-8b07-b73496169bc7.png)

### with 10px padding
![screen shot 2016-05-14 at 2 30 20 am](https://cloud.githubusercontent.com/assets/103456/15267637/d23cb532-197b-11e6-914e-c07bd2fa90b1.p

[2016-05-14 21:32] bradleyrichter commented on #113
good catch. thanks...

I'll add it when I next update the footer.

[2016-05-17 18:47] bennyschmidt commented on #113
https://github.com/brave/brave-website/commit/5fa0a6a8958de6122a47a9e82185f0bf695bd109

[2016-05-17 18:47] #113 closed

[2016-05-17 18:49] #111 closed

[2016-05-17 19:19] #93 closed

[2016-05-17 19:19] #92 closed

[2016-05-17 19:22] #87 closed

[2016-05-17 19:23] bennyschmidt commented on #84
The site has been redesigned recently with platform-detecting buttons and a downloads page with all versions. If you still have an issue please re-open, thanks

[2016-05-17 19:23] #84 closed

[2016-05-17 19:28] #81 closed

[2016-05-17 19:31] bennyschmidt commented on #80
platform strings for 32/64 bit (and everything else) were set up here https://github.com/brave/brave-website/commit/6a5b0157dc8301519a888a2ab2aedfa8297b6076

[2016-05-17 19:31] #80 closed

[2016-05-17 19:31] #64 closed

[2016-05-17 19:33] bennyschmidt commented on #51
@vasanth1986 This is the marketing site repo. If this is still an issue, please open it here https://github.com/brave/browser-laptop/issues Thank you (and sorry for the delay!)

[2016-05-17 19:33] #51 closed

[2016-05-17 19:35] #42 closed

[2016-05-17 19:38] bennyschmidt commented on #24
bullet points were dropped in the recent redesign, thanks

[2016-05-17 19:38] #24 closed

[2016-05-18 08:18] luixxiul opened #114 "Upgrade to HTTP/2 with"
Is there any plan to upgrade the server to support HTTP/2?

Cloudflare has published their nginx source code and I think it is worth trying it.
https://blog.cloudflare.com/open-sourcing-our-nginx-http-2-spdy-code/

[2016-05-19 22:59] bridiver opened #115 "cmd-click on download link redirects to /undefined"
see https://github.com/brave/browser-laptop/issues/1602

[2016-05-22 01:29] jonathansampson commented on #88
@bbondy *bump*

[2016-05-22 13:56] bbondy commented on #88
seems like it can be closed now.

[2016-05-22 13:56] #88 closed

[2016-05-26 13:31] jotes commented on #104
@bbondy Alternatively we could return a valid package (.yum/.deb) for the detected linux distribution.

[2016-05-28 16:53] ianjmacintosh commented on #15
@blackweta Those dependencies are from the `browser-laptop` project, not this one. :)
You should report the issue in their repo: https://github.com/brave/browser-laptop/issues/new

I'm getting warnings about deprecated packages also:
[code]

[2016-05-28 17:35] ianjmacintosh commented on #20
Good call @KevinGrandon

[2016-05-28 22:06] serv commented on #21
Closing this issue as it is resolved now. Thanks @bbondy

[2016-05-28 22:06] #21 closed

[2016-07-30 09:58] iamVP7 opened #117 "Slide Issue in Brave.com"
Visit https://brave.com/brave_youth_program.html
![slide_show](https://cloud.githubusercontent.com/assets/3106852/17269579/f0bb4976-5669-11e6-8814-20d049937dc1.png)

In this page the image slider showing different clubs are there. The image size can be made fixed.
The bubble which is used to skip to the particular Image is like 4 in one line and 1 in another line. We can make all things (5 bubble)

[2016-07-30 10:18] iamVP7 opened #118 "OnAction while clicking"
Visit https://brave.com/brave_youth_program.html
![onclick_braveyouth](https://cloud.githubusercontent.com/assets/3106852/17269672/9a032290-566c-11e6-8fa8-b4823ec6953e.png)

There is a map which lists Brave chapter in that page.
There is a button (round button) on map near American part. It appears to be click able.
On Click on that round button no action is there.

[2016-08-02 01:00] bradleyrichter commented on #117
@iamVP7 thanks for noticing. If you have a fix, do you want to make a PR and I will merge?

tx - Brad

[2016-08-02 01:01] bradleyrichter commented on #118
Thanks for the heads up.

I hid this until we have 3 spots to showcase.

[2016-08-02 01:01] #118 closed

[2016-08-02 03:29] SXibolet opened #120 "Duplicate "Introducing Team Brave..." section"
Just a heads-up: there's a duplicate "Introducing Team Brave..." section in `about.html#team`.

[2016-08-02 03:51] bradleyrichter commented on #120
@SXibolet Thanks for reporting this!

@bsclifton What did you do?...   ;   )

[2016-08-02 03:58] bradleyrichter commented on #120
pushed a fix...

[2016-08-02 03:58] #120 closed

[2016-08-06 17:22] luixxiul commented on #115
+1 from support

[2016-08-13 17:10] FarhadurFahim opened #121 ""Become an Ambassador" button is not working in Brave Youth Program page"
"Become an Ambassador" button is not working.

STR:
- Open [Brave Youth Program](https://www.brave.com/brave_youth_program.html) and click on "Become an Ambassador" button.
- It will pop-up a registration form, close it.
- After that refresh this page and click on "Become an Ambassador" button again.
- And then button will be not working, no registration form showing.

[2016-09-09 09:02] diracdeltas opened #125 "needs ayumi"
https://brave.com/about.html should include @ayumi

[2016-09-09 10:56] bbondy opened #126 "needs Sriram"
https://brave.com/about.html should include @srirambv

[2016-09-09 10:57] bbondy opened #127 "needs Cezar"
https://brave.com/about.html should include @cezaraugusto

[2016-09-13 02:04] sts10 opened #130 "links in blog posts are 14px while surrounding paragraph text is 1em"
In Brave blog posts ([like this one](https://blog.brave.com/introducing-brave-payments/)) it seems that the `<a>` tags are set to `font-size: 14px` while the paragraph (`<p>`) text is set to `1em`. On my monitors at least that means the text in `<a>` tags are slightly but noticeably smaller than the surrounding paragraph text. (I'm using Brave 0.12.0 on OS X)

I might have thought this was a delib

[2016-09-13 03:05] bradleyrichter commented on #130
@sts10 Thanks for pointing this out. This issue lives in the ghost blog template and wasn't living in the repo. I've pushed it up if you are interested. There isn't a good way of previewing your work and it requires uploading a ZIP file through our ghostblog account.

[2016-09-13 03:07] bradleyrichter commented on #130
https://github.com/brave/brave-website/blob/master/brave-ghost-template/assets/css/theme.min.css

[2016-09-19 23:09] sts10 commented on #130
Ack, sorry fam-- I banged on this a few nights and just couldn't get the `<a>` tags to be set to anything other than 14px.

I registered a free Ghost blog and zipped up the theme every attempt. I tried changing every `font` sizes set to 14px to a different value then check, but it didn't seem to have any effect.

First I hoped I could simply change a `14px` to `1em` in `brave-ghost-template/assets

[2016-09-26 17:15] bridiver commented on #46
https://staging.brave.com

[2016-09-26 17:15] #46 closed

[2016-09-30 20:48] bridiver opened #131 "merge css and js on deployment"
We currently have a very large number of js and css files. This causes the site to load more slowly because browsers are generally limited to 6 concurrent connections. We should combine them into one file for js and one for css

https://github.com/poeticninja/hapi-assets

[2016-09-30 20:49] bridiver opened #132 "resource url names should change when the contents change"
hash-based urls would allow us to set very long cache times on the client
https://github.com/poeticninja/hapi-cache-buster

[2016-10-02 21:31] mattbontrager opened #133 "Add smart zoom functionality"
The smart zoom feature (*two-finger double tap on trackpad*) in Safari is incredibly useful for those of us with less-than-great eye sight. I would use Brave a lot more if it had the same feature.

![](http://toolsdept.com/hosted-images/smart-zoom.gif)

[2016-10-02 22:33] BrendanEich commented on #133
Thanks, Matt -- I'm sorry I didn't specify, but you should file this against https://github.com/brave/browser-laptop/ not against our website. I think @bridiver may know of a fix, if one isn't already on its way.

[2016-10-03 00:54] mattbontrager commented on #133
Thanks Brendan. Got it filed in the correct place now. Thanks for all you do!

[2016-10-03 00:54] #133 closed

[2016-10-07 16:56] bbondy commented on #125
@ayumi would you be able to do a PR for this?

[2016-10-07 16:56] #127 closed

[2016-10-07 16:57] ayumi commented on #125
yes, ty for the reminder

[2016-10-07 16:57] bbondy commented on #126
@srirambv could you attach a headshot?

[2016-10-07 22:06] #125 closed

[2016-10-10 05:04] srirambv commented on #126
[Photo.docx](https://github.com/brave/brave-website/files/518806/Photo.docx)

[2016-10-10 18:02] diracdeltas opened #137 "users can't sign up for newsletter on first try"
reported at https://github.com/brave/browser-laptop/issues/4649

looks like both the crumb form input and the crumb cookie on the first POST are empty. however, reloading the page sets both correctly so the second try succeeds.

[2016-10-10 18:26] #137 closed

[2016-10-10 18:47] bradleyrichter commented on #137
thanks @diracdeltas !

[2016-10-11 04:01] srirambv commented on #121
[+1 from support](https://linkbubble.zendesk.com/agent/tickets/6115)

[2016-10-12 16:17] greggawatt commented on #121
The button is currently commented out after clicking it for the first time. Not sure what is keeping the state of that, I can take a look.

[2016-10-12 19:49] bradleyrichter commented on #121
This is caused by a page-change. The form opens when the 2nd page loads. It's using a mailchimp auto-load form which was meant to be replaced with something more integrated.

I'd be thrilled to have any assistance to improve how it works while keeping the mailchimp form working.

[2016-10-15 23:30] greggawatt commented on #121
What is this written in?

[2016-10-17 14:53] aekeus opened #138 "Add alias' for download links with full filename"
Add alias' for the /latest endpoints to include the full filename (to support older browsers)

cc @bbondy

[2016-10-19 22:43] McFrankline opened #139 "Fixed Navbar retains transparent color when scrolling begins"
Browser: Chromium Version 53.0.2785.143 (64-bit)

The fixed navbar needs to be a solid color when scrolling down begins instead of remaining transparent. I could not reproduce the same problem of firefox. Here are some screenshots below

![screenshot from 2016-10-19 22-33-54](https://cloud.githubusercontent.com/assets/886449/19540110/c107e32e-964c-11e6-9a18-de880d609cd2.png)
![screenshot from 2016

[2016-11-01 07:54] ayumi opened #140 "https://hackerone.com/reports/175403"
https://hackerone.com/reports/175403

[2016-11-01 20:53] #140 closed

[2016-11-03 18:37] srirambv opened #143 "Different download link while on https://blog.brave.com"
Download link when on blog.brave.com links to https://github.com/brave/browser-laptop/releases page while on other links(FASTER/SAFER/DEVS/ABOUT) it links to https://brave.com/downloads.html page. From the website it should be linked to the same page either github or downloads.html

[2016-11-03 18:39] srirambv opened #144 "About Us in the page footer links to the about.html#team"
`About Us` in the page footer links to the about.html#team.

All `About Us` link accross the site should point to https://www.brave.com/about.html

[2016-11-03 18:46] srirambv opened #145 "Newsletter subscribe alert prompt not aligned below the email field"
Stay in touch alert prompt not aligned below the email field. On Brave it doesn't show the alert message

![stayintouch](https://cloud.githubusercontent.com/assets/17010094/19980393/bf1f6136-a1f5-11e6-9c05-82ab8eb6d2eb.gif)

[2016-11-03 18:48] bradleyrichter commented on #143
just fixed!

[2016-11-03 18:48] #143 closed

[2016-11-04 22:51] bkjohnson opened #147 "Highlight on selection isn't consistent"
I was checking your site out in Chrome and thought that what you are doing with selected text is a really great subtle touch that works well with your theme:

![screenshot from 2016-11-04 17-31-01](https://cloud.githubusercontent.com/assets/2008881/20024436/905c2a72-a2b4-11e6-8242-9141f192b830.png)

### Problem
However, I was a little disappointed to see that the effect only worked on white backgr

[2016-11-04 22:54] bradleyrichter commented on #147
@bkjohnson nice find. A PR would be great!

[2016-11-04 23:28] bkjohnson commented on #147
Thanks!  Also FWIW, my CSS snippet above was wrong.  You can't have `::selection` and `::-moz-selection` grouped together with a comma, they must be separate in order for the browser to recognize them.

[2016-11-05 00:37] #147 closed

[2016-11-05 00:48] bradleyrichter commented on #147
@bkjohnson Can you please confirm the fix on staging.brave.com. Then we can push it to master as well.

[2016-11-05 01:32] bkjohnson commented on #147
Just confirmed.  Highlighting works as expected on non-white and on Firefox and Chrome.  :+1:

[2016-11-06 17:51] bradleyrichter commented on #121
this was fixed by @ayumi...

[2016-11-06 17:51] #121 closed

[2016-11-06 17:57] greggawatt commented on #121
Cool! Which pr?

On Sunday, November 6, 2016, Brad Richter <notifications@github.com> wrote:

--
Gregg Horton
510-283-8734
gregghorton.com

[2016-11-06 18:51] bradleyrichter commented on #121
#141

[2016-11-29 05:47] McFrankline commented on #139
Might have been a chromium issue. Works well with the latest update

[2016-11-29 05:47] #139 closed

[2016-12-02 00:19] colonelpopcorn opened #152 "Download page needs checksums"
Like the title states, the download pages are missing SHA-256 hashes for Windows, Mac, and Linux. Is it possible to add a way to automatically update the hash whenever the packages are updated? This would help users create packages for package managers like Chocolatey or Aptitude.

[2016-12-15 02:50] luixxiul opened #154 "Show the current Brave version on the Brave website"

[2017-01-02 14:14] marti1125 commented on #91
@jonathansampson could you close this issue, please?

[2017-01-04 05:13] #91 closed

[2017-01-13 05:14] diracdeltas opened #156 "piwik privacy improvements"
1. add the following tag to the privacy policy page to allow  users to opt out of analytics:
[code]

2. enable DNT client-side support (we already support the header) by replacing the existing piwik code with:
[code]

[2017-01-20 14:27] jjpatel361 commented on #145
#157

[2017-01-29 04:30] csong95 opened #158 "delete"
delete

[2017-01-29 10:21] #158 closed

[2017-02-16 14:58] jotasprout commented on #154
Doesn't it already? I just double-checked and it appears on the downloads page for all three versions.

[2017-02-16 15:00] jotasprout commented on #144
So this is taken care of?

[2017-02-16 16:27] bradleyrichter commented on #144
no. thanks for the reminder.

[2017-02-16 18:39] jimfenton commented on #154
The downloads page says 0.13.dev and the current version is 0.13.4. What the downloads page says should be updated when an update is released.

[2017-02-16 18:45] bradleyrichter commented on #154
We aren't updating the DOT release numbers on the site for DEV builds.

When we release 1.x, we will certainly match the DOT release number based on the normal cadence.

DEV releases will continue at the current faster cadence.

[2017-02-16 18:58] jimfenton commented on #154
I was having a problem where 0.13 wouldn't run on my Linux machine, and it was hard to tell when 0.13.1 had been released, but I can live with that.

However, the way it's written, (0.13.dev) makes .dev look like it's a prerelease of 0.13, and I guess it's not. If you aren't updating dot release numbers, IMO it should just say 0.13

[2017-02-16 19:16] bradleyrichter commented on #154
good point @jimfenton

@bbondy may have more info, and we should certainly get this right before 1.0 is released.

[2017-02-16 19:23] jotasprout commented on #144
I thought the commit referenced above in #151 stating it fixed issue #144 meant it was fixed. Is that incorrect? I was asking, really, to know if it was issue I could take on or if someone else was actively working on it.

[2017-02-17 01:17] #144 closed

[2017-02-17 01:26] #145 closed

[2017-04-05 16:54] cezaraugusto opened #162 "Make CSP frame-ancestors directive possible on Hapi"
Looking at [Hapi docs](https://hapijs.com/api), allowing `frame-ancestors` directive is not possible without plugins.

`x-frame-options` is currently set to deny so it's not possible to load an iframe from brave.com.
 Source rule for x-frame could be applied but is not possible because we're asking to allow a `chrome-extension` url, so the header is ignored - not recognized as a directive. Also ta

[2017-04-05 17:52] hueniverse commented on #162
I assume you need to change these:
https://github.com/hapijs/hapi/blob/master/lib/schema.js#L147-L154
https://github.com/hapijs/hapi/blob/master/lib/route.js#L199-L218

To allow for this rule to generate the header you want.

[2017-04-05 18:57] cezaraugusto commented on #162
@hueniverse we need an option to set `Content-Security-Policy: frame-ancestors <source>`. Actually `frame-ancestors` [would overlap](https://www.w3.org/TR/CSP2/#frame-ancestors-and-frame-options) `x-frame-options`. So it should be set inside `security` but not as part of `xframe` API.

What's happening is that we have `x-frame-options` on brave.com set to "deny", which should work with a given sou

[2017-04-06 06:33] hueniverse commented on #162
@cezaraugusto So your plan is to disable the `x-frame-options` headers completely and instead use the `Content-Security-Policy: frame-ancestors <source>` header?

[2017-04-06 18:51] diracdeltas commented on #162
@cezaraugusto just to clarify, if you set CSP frame-ancestors to just the chrome-extension origin, you will no longer need the x-frame-options header AFAIK.

seems like https://github.com/nlf/blankie will do the trick, thanks @hueniverse

[2017-04-06 19:03] hueniverse commented on #162
Let me know if you need further assistance.

[2017-04-10 08:10] #162 closed

[2017-04-10 08:10] cezaraugusto commented on #162
Thanks all, issue solved

[2017-05-09 09:29] srirambv opened #167 "Download for Mobile image is broken and shows Google play for both iOS and Android"
![image](https://cloud.githubusercontent.com/assets/17010094/25844416/50c92290-34a2-11e7-86e0-834775c473a3.png)

[2017-05-11 07:32] srirambv commented on #167
Closing as fixed

[2017-05-11 07:32] #167 closed

[2017-07-25 14:44] nandorpersanyi opened #174 "Jobs page header background image rendering choppy"
Jobs page header background image rendering is choppy

![jobs-page-headerbg-rendering-issue](https://user-images.githubusercontent.com/7633092/28577462-2a96d9fe-7157-11e7-9158-8713e0f28bda.jpg)

[2017-07-26 17:15] diracdeltas opened #176 "needs info on where to report security issues"
link to https://hackerone.com/brave and security@brave.com

[2017-07-26 17:16] diracdeltas commented on #176
cc @bradleyrichter

[2017-07-27 16:04] nandorpersanyi commented on #174
fixed by #175

[2017-07-27 16:04] #174 closed

[2017-08-03 14:25] Nokel81 opened #177 "HTML5 & CSS Coverage"
It would be really nice if under the development tab the coverage of this browser of the current standards were shown because sites like `caniuse.com` don't show it for Brave. This is not necessarily needed if brave uses chromium under the hood.

[2017-08-03 14:29] #177 closed

[2017-08-04 15:10] diracdeltas commented on #176
fixed

[2017-08-04 15:10] #176 closed

[2017-08-04 15:10] diracdeltas opened #178 "HTTP brave.com links on new site need to be HTTPS"
* big download button goes to http://brave.com/downloads.html
* 'support' link goes to http://community.brave.com

may be others

[2017-08-04 15:28] LaurenWags opened #179 "Privacy Policy link (iOS) broken"
Privacy Policy (on iOS > Settings) displays an error.

![img_4485](https://user-images.githubusercontent.com/28145373/28975444-032b1192-7908-11e7-8be6-e0475e19a24d.PNG)

Similar issue for Android was already resolved.

[2017-08-04 15:32] #179 closed

[2017-08-04 15:36] LaurenWags commented on #179
moved to https://github.com/brave/browser-ios/issues/1032 per discussion with @alexwykoff

[2017-08-04 15:38] alexwykoff opened #180 "Publishers page footer links are inconsistent with other pages"
https://brave.com/publishers/ has some links which don't match

Terms of Use - https://brave.com/terms-of-use_6/

Privacy - https://brave.com/privacy_7/

[2017-08-04 15:45] alexwykoff commented on #178
About page
- Sampson's profile - http://sampson.ms/
- Lawler's profile - http://twitter.com/kevinlawler
                             - http://kevinlawler.com/

[2017-08-04 15:47] LaurenWags opened #181 "Media Assets are not links"
When on the About page and in the Media Assets section, Brave Logo Files, Brave Icon Files, Infographics, and Partner Badges are not links.

Nav to https://brave.com/about/
Find Media Assets.
Nothing in this area is clickable.

[2017-08-04 15:54] LaurenWags commented on #180
If you click on those, you get 'No results found'. Similarly with https://brave.com/about/ which has

Terms of Use - https://brave.com/terms-of-use_2/

Privacy - https://brave.com/privacy_3/

[2017-08-04 15:55] diracdeltas commented on #178
^ some of those pages may not support https but twitter definitely does

[2017-08-04 15:55] LaurenWags commented on #180
Also on https://brave.com/download/ (no results found for these either)

Terms of Use - https://brave.com/terms-of-use_1/

Privacy - https://brave.com/privacy_1/

[2017-08-04 16:04] LaurenWags opened #182 "Broken link for Brave Badge"
'Final Step' at https://brave.com/publishers/#getverified has a broken link, 'Brave Badge' link directs you to https://brave.com/publishers/about_1.html#media-assets where no results found.

Nav to https://brave.com/publishers/#getverified
Locate the 'Final Step'
Click on 'Brave Badge'

[2017-08-04 16:07] LaurenWags commented on #180
Also on https://brave.com/jobs/

Terms of Use - https://brave.com/terms-of-use_3/

Privacy - https://brave.com/privacy_4/

[2017-08-04 16:07] alexwykoff opened #183 "BAT : token link update"
https://basicattentiontoken.org/token/ should go to https://basicattentiontoken.org/announcing-a-new-blockchain-based-digital-advertising-platform/

[2017-08-04 16:13] LaurenWags commented on #180
Also on https://brave.com/faq/#brave-payments

Terms of Use - https://brave.com/terms-of-use_5/

Privacy - https://brave.com/privacy_6/

[2017-08-04 21:08] bradleyrichter commented on #182
@LaurenWags this is fixed if you would like to confirm and close.

[2017-08-04 21:08] bradleyrichter commented on #181
@LaurenWags fixed and ready for confirmation

[2017-08-04 21:47] bradleyrichter commented on #180
these are fixed. please confirm and close. TY!

[2017-08-04 21:56] LaurenWags commented on #182
Looks good!

[2017-08-04 21:56] #182 closed

[2017-08-04 21:57] LaurenWags commented on #181
Confirmed all 4 are clickable.

[2017-08-04 21:57] #181 closed

[2017-08-04 22:03] LaurenWags commented on #180
They all look good to me!

[2017-08-04 22:03] #180 closed

[2017-08-07 17:19] mrose17 commented on #183
fixed.

[2017-08-07 17:19] #183 closed

[2017-08-07 19:49] jonathansampson opened #184 "brave.com/about/#press doesn't go to press section"
The fragment isn't pared with an ID in the document.

[2017-08-08 20:35] #178 closed

[2017-08-08 20:47] diracdeltas opened #185 "remove use of html5 canvas"
the new brave.com shows 1 item in brave shields for canvas fingerprinting; i think this may be because we are using a graph widget that draws using canvas elements.

[2017-08-08 21:33] mrose17 commented on #156
notes: at some point we should upgrade piwik

[2017-08-08 22:54] diracdeltas commented on #152
marking this as sec-low since it is mostly covered by https://github.com/brave/browser-laptop/issues/197

[2017-08-24 22:09] diracdeltas commented on #185
already done by brad

[2017-08-24 22:09] #185 closed

[2017-08-28 08:22] srirambv commented on #184
Reported from community as well https://community.brave.com/t/brave-com-site-simple-anchor-fix/6632/2

[2017-09-05 17:53] diracdeltas commented on #156
cc @w0ts0n in case this can be done while upgrading piwik

[2017-09-06 03:59] w0ts0n commented on #156
I didn't change any code site side, sorry!

I believe brad already tried 1. and it broke some stuff/looked bad. That might have changed now we've updated piwiki so may be worth another attempt.

[2017-09-06 15:52] jonathansampson commented on #156
I don't specifically recall being involved in a piwik effort; @bradleyrichter, sound familiar?

[2017-09-15 02:05] srirambv opened #186 "Jobs listing page doesn't render properly on Mobile"
This is same on any browser on iPhone

![image](https://user-images.githubusercontent.com/17010094/30463252-2c387984-99e8-11e7-8429-c7eebdc4fc4b.png)
![image](https://user-images.githubusercontent.com/17010094/30463257-31bd5d16-99e8-11e7-8ba4-94e14055b9ab.png)

[2017-09-17 18:46] jonathansampson commented on #184
This issue has been resolved, and the fix will be deployed very shortly.

[2017-09-17 18:46] #184 closed

[2017-09-22 17:42] w0ts0n commented on #156
1. is an issue. The iframe method is ugly as sin and also not great practice.
Thinking about alternatives and pinged Yan with some suggestions.

2. is done.

[2017-09-22 17:48] w0ts0n commented on #186
I can't replicate. @srirambv has this been fixed?
I tried on my iPhone 6 (safari/brave) and on desktop in responsive mode.

[2017-09-22 17:55] w0ts0n opened #187 "Websites missing SEO meta tags"
Someone on reddit pointed out that we are missing relevant meta tags.
Although not urgent, we should consider adding these for bots/search engines.

[2017-09-22 18:48] w0ts0n commented on #187
I've been doing some reading and the meta "tags" are pretty useless, but the description and title are something we need to fix.
Doing so now.

[2017-09-22 20:47] w0ts0n commented on #187
<img width="869" alt="screen shot 2017-09-22 at 1 46 46 pm" src="https://user-images.githubusercontent.com/2603015/30763737-82f2c234-9f9c-11e7-80b8-c3daa1728a99.png">

[2017-09-22 22:43] w0ts0n commented on #156
Okay, after getting the all clear from brad/yan I just put a little blurb to the URL to opt-out. Happy compromise.

[2017-09-22 22:43] #156 closed

[2017-09-26 16:30] w0ts0n opened #188 "basicattentiontoken.org outage."
briefly (around 2 minutes) yesterday https://basicattentiontoken.org went offline. The app was reporting:

_2017-09-25T17:08:37.813206+00:00 heroku[router]: at=error code=H20 desc="App boot timeout" method=GET path="/" host=basicattentiontoken.org request_id=1cbcf62c-4a5c-4a71-86d0-f66611ef5471 fwd="76.169.119.95" dyno= connect= service= status=503 bytes= protocol=https_

I restarted the dyno and

[2017-09-26 16:54] #187 closed

[2017-09-27 18:12] #4 closed